/*
@font-face {
  font-family: "My Font";
  src: url("./fonts/MyFont/MyFontRegular/MyFont.eot");
  src: url("./fonts/MyFont/MyFontRegular/MyFont.eot?#iefix") format("embedded-opentype"),
       url("./fonts/MyFont/MyFontRegular/MyFont.woff") format("woff"),
       url("./fonts/MyFont/MyFontRegular/MyFont.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
*/
