section.wrapper(
  ng-controller="AppController"
  pointer-events=""
  third-parties="")

  include ../subModules/Header/header.jade
  main.main(ui-view="")
  include ../subModules/Footer/footer.jade
