@import "../../../../../stylesheets/helpers/mixins.scss";
@import "../../../../../stylesheets/helpers/variables.scss";

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    text-decoration: none;
  }
}

html, body, main {
  height: 100%;
}

body {
  background: $body-bg-color;
  color: $color-base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  width: $max-content-width;
  min-width: $min-content-width;
  height: 100%;
  margin: 0 auto;
}

.page-view {

}
