/*
 * Colors
 * ========================================================================== */

$white:                 #fff;
$black:                 #000;

$color-base:            $black;
$link-color:            $black;
$body-bg-color:         $white;

/*
 * Typography
 * ========================================================================== */

$Helvetica-font:        Helvetica, Arial, sans-serif;

$font-family-base:      $Helvetica-font;

$font-size-base:        16px;

/*
 * Layout
 * ========================================================================== */

$max-content-width:     100%;
$min-content-width:     320px;

