.wrapper(ng-controller='LayoutController', pointer-events='')
  main.main
    .page-view
      include partials/header/header.jade
      div(ng-view='') //- Here will be content
      include partials/footer/footer.jade

