.wrapper(ng-controller='LayoutController', pointer-events='')
  main.main
    .page-view
      include ../header/header.jade
      div(ng-view='') //- Here will be content
      include ../footer/footer.jade

