section.wrapper(ng-controller="LayoutController", pointer-events="")
  main.main
    .page-view
      include ../subModules/Header/header.jade
      div(ui-view="")
        //- Here will be content
      include ../subModules/Footer/footer.jade
